<!DOCTYPE html>
<html>
  <head>
    <title>Каталог</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      form(action="" id="search-form") 
        label(for="search") Поиск&emsp;
        <div id="dropdown-form" class="dropdown">
          textarea(name="search")
          <div id="dropdown-content-form" class="dropdown-content">
          </div>
        </div>
      <img class="logo" alt="logo" />
      <nav>
        <div class="nav"><a href="/">Главная</a></div>
        <div class="nav"><a href="catalog" id="current">Все книги</a></div>
        <div class="nav"><a href="genres">Все жанры</a></div>
        <div class="nav"><a href="about_us">Кратко о нас</a></div>
        <div class="nav"><a href="stats">Статистика</a></div>
        <div class="nav">
          <div id="dropdown" class="dropdown">
            <a href=""></a>
            <div id="dropdown-content" class="dropdown-content">
              <a href="logout">Выйти</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="content">
      <h1>Каталог книг</h1>
      script(src="/scripts/profile.js")
      script(src="/scripts/books.js")
      script(src="/scripts/search.js")
  </body>
</html>
