<!DOCTYPE html>
<html>
  <head>
    <title>Жанры</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      form(action="" id="search-form") 
        label(for="search") Поиск&emsp;
        <div id="dropdown-form" class="dropdown">
          textarea(name="search")
          <div id="dropdown-content-form" class="dropdown-content">
          </div>
        </div>
      <img class="logo" alt="logo" />
      <nav>
        <div class="nav"><a href="/">Главная</a></div>
        <div class="nav"><a href="catalog">Все книги</a></div>
        <div class="nav"><a href="genres" id="current">Все жанры</a></div>
        <div class="nav"><a href="about_us">Кратко о нас</a></div>
        <div class="nav"><a href="stats">Статистика</a></div>
        <div class="nav">
          <div id="dropdown" class="dropdown">
            <a href=""></a>
            <div id="dropdown-content" class="dropdown-content">
              <a href="logout">Выйти</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="content">
<!--  <div class="letter_filter">
        <div class="letter">
          <h2>А</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>Б</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>В</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>Г</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>Д</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>Е</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>Ё</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>Ж</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>З</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>И</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>Й</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
          <h2>К</h2>
        </div>
        <div class="genre_list">
        </div>
        </div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Л</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>М</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Н</h2>
        </div>
        <div class="genre"></div>
        </div>-->
<div class="letter_filter">
  <div class="letter">
    <h2>О</h2>
  </div>
  <div class="genre_list">
      <div class="genre">Обучающие</div>
  </div>
</div>
<div class="letter_filter">
  <div class="letter">
    <h2>П</h2>
  </div>
  <div class="genre_list">
      <div class="genre">Проза</div>
  </div>
</div>
<!--<div class="letter_filter">
    <div class="letter">
        <h2>Р</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>С</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Т</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>У</h2>
        </div>
        <div class="genre"></div>
        </div>-->
<div class="letter_filter">
  <div class="letter">
    <h2>Ф</h2>
  </div>
  <div class="genre_list">
     <div class="genre">Фантастика</div>
  </div>
</div>
<!--<div class="letter_filter">
      <div class="letter">
        <h2>Х</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Ч</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Ц</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Ш</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Щ</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Ы</h2>
        </div>
        <div class="genre"></div>
        </div>
        <div class="letter_filter">
        <div class="letter">
        <h2>Э</h2>
        </div>
        <div class="genre"></div>
        </div>-->
<div class="letter_filter">
  <div class="letter">
    <h2>Ю</h2>
  </div>
  <div class="genre_list">        
    <div class="genre">Юмор</div>
  </div>
</div>
<!--<div class="letter_filter">
        <div class="letter">
        <h2>Я</h2>
        </div>
        <div class="genre_list">
        <div class="genre"></div>
        </div>
        </div>-->
script(src="/scripts/profile.js" module)
    script(src="/scripts/search.js") 
</body>
</html>
